body {
  display: flex;
  align-items: center;
}

#grid-container {
  margin-left: 200px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px; 
}

button {
  margin-left: 30px;
  padding: 10px 20px;
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.grid-cell {
  background-color: cadetblue;
}

.grid-cell:hover {
  background-color: darkorchid;
}
